* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 Helvetica, sans-serif;
    }

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }

.card {
    background-color: rgb(255, 255, 255);
    max-width: 22em;
    box-shadow: 0 0 25px rgb(62, 62, 62);
    padding: 1.5em;
    border-radius: 0.5em;
}
